{% extends 'eroge/_base.html' %}
{% load eroge %}

{% block page_content %}
<h1 class="title">Eroge <span class="tag is-dark">{{ games.count }}</span></h1>

{% for game in games %}
<div class="box">
    <article class="media">
        <div class="media-left">
            <figure class="image game-picture">
                <img src="{{ game|dlsite_picture }}">
            </figure>
        </div>
        <div class="media-content">
            <div class="content game-meta">
                {% if game.dlsite_has_eng %}
                <h3>{{ game.dlsite_name_eng }}</h3>
                <h6 class="jap">{{ game.dlsite_name }}</h6>
                {% elif game.dlsite %}
                <h3 class="jap">{{ game.dlsite_name }}</h3>
                {% else %}
                <h3 class="jap">{{ game.getchu_name }}</h3>
                {% endif %}
                <p>
                    <code>{{ game|game_folder }}/</code>
                    <input type="text" value="{{ game|game_save_as }}" size="48" readonly>
                </p>
                <p>
                    {% if game.dlsite %}
                    <span class="tag is-info">RJ{{ game.dlsite }}</span>
                    {% endif %}
                    {% if game.getchu %}
                    <span class="tag is-info">CHU{{ game.getchu }}</span>
                    {% endif %}
                </p>
            </div>
        </div>
    </article>
</div>
{% endfor %}
{% endblock %}
